<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="panel-body">
   		<p>This application is based off of OneMonthRails.com. It is part of my continued effort to learn Rails/Ruby to make my work life much easier.</p>
  </div>
  <div class="panel-footer">
  	If you want to get in contact with me <%= link_to "Contact Me", contact_path %>
  </div>
</div>